@import "../../styles/mixins";
@import "../../styles/vars";

.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: rem(90);
}

.pagination-list {
  display: flex;

  &__item {
    &:not(:last-child) {
      margin-right: rem(16);
    }
  }

  &__btn {
    border: 1px solid $black;
    width: rem(40);
    height: rem(40);
    color: $black;

    &--current {
      color: $white;
      background-color: $black;
    }
  }
}