@import "../../styles/mixins";
@import "../../styles/vars";

.basket-item {
  display: grid;
  grid-template-columns: 3fr 1fr 1fr 1fr;
  text-align: left;
  gap: rem(10);

  &:not(:last-child) {
    margin-bottom: rem(30);
  }

  &__cell {
    display: flex;
    align-items: center;
  }

  &__btn-delete {
    margin-right: rem(45);
  }

  &__img {
    display: block;
    margin-right: rem(45);
    border-radius: rem(10);
  }

  &__count {
    border: 1px solid #afafaf;
    width: rem(47);
    height: rem(47);
    font-size: rem(20);
    text-align: center;
  }
}