@import "../../../styles/mixins";
@import "../../../styles/vars";

@keyframes arrow-animation {
  0% {
    transform: translateY(0%);
  }

  20% {
    transform: translateY(-20%);
  }

  40% {
    transform: translateY(0%);
  }

  60% {
    transform: translateY(-20%);
  }

  80% {
    transform: translateY(0%);
  }

  100% {
    transform: translateY(0%);
  }
}

.container {
  display: flex;
  align-items: center;
  padding-left: max($container-offset, calc((100% - 1140px) / 2));
}

.slider-wrap {
  padding-top: rem(140);
  width: 100%;
  max-width: rem(560);
}

.links-wrap {
  display: flex;
  justify-content: flex-end;
  max-width: rem(385);
}

.next-section-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: rem(67);
  height: rem(67);
  stroke: $green;
  background-color: rgba(110 156 159 / 10%);
  transition: stroke 0.5s ease, background-color 0.5s ease;

  svg {
    pointer-events: none;
  }

  @include hover {
    stroke: $white;
    background-color: rgba(110 156 159 / 50%);

    svg {
      animation-name: arrow-animation;
      animation-duration: 2s;
      animation-delay: 0.5s;
      animation-iteration-count: infinite;
    }
  }
}

.shop-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: rem(245);
  height: rem(67);
  color: $white;
  background-color: $green;
  transition: background-color 0.5s ease;

  @include hover {
    background-color: #509498;
  }
}

.pagination {
  display: flex;
  justify-content: flex-end;
  margin-top: rem(120);
  max-width: rem(385);
}

.images-wrap {
  position: relative;
  margin-left: rem(100);
  padding-top: rem(120);
  padding-bottom: rem(60);
  width: 100%;
  height: 100%;
  background-color: $beige;
}

.first-img {
  position: relative;
  left: rem(40);
  display: block;
}

.second-img {
  position: absolute;
  left: rem(370);
  top: rem(240);
  z-index: 2;
  display: block;
}

.third-img {
  position: absolute;
  left: rem(-80);
  bottom: 0;
  z-index: 2;
  display: block;
}