@import "../../../../styles/mixins";
@import "../../../../styles/vars";

.root {
  display: block;
  padding: rem(50) 0;
  width: 100%;
}

.item {
  display: grid;
  grid-template-columns: 4fr 1fr 2fr 1fr;
  text-align: left;
  gap: rem(15);

  &:not(:last-child) {
    margin-bottom: rem(30);
  }

  @include tablet {
    grid-template-columns: 3fr 2fr 1fr;
  }
}

.text {
  font-weight: 500;
  font-size: 1rem;
  line-height: 140%;
}

.cell {
  display: flex;
  align-items: center;

  @include tablet {
    &:nth-child(2) {
      display: none;
    }
  }

  @include mobile {
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }
}

.btn {
  margin-right: rem(15);

  @include mobile {
    margin-right: 0;
    margin-bottom: rem(15);
  }
}

.img {
  display: block;
  margin-right: rem(15);
  border-radius: rem(10);

  @include mobile {
    margin-right: 0;
    margin-bottom: rem(15);
  }
}

.count {
  border: 1px solid #afafaf;
  width: rem(47);
  height: rem(47);
  font-size: rem(20);
  text-align: center;
}