@import "../../../styles/mixins";
@import "../../../styles/vars";

.root {
  padding: $section-offset 0;
}

.title {
  margin-bottom: em(90, 40);
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;

  @include tablet {
    flex-direction: column;
    justify-content: initial;
  }
}

.slider-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 850px;
  transform: translateX(-60px);

  @include resolution(1260) {
    max-width: fit-content;
    transform: none;
  }

  @include laptop {
    max-width: 450px;
  }

  @include tablet {
    margin-bottom: rem(30);
    max-width: fit-content;
  }
}

.btn {
  @include resolution(1260) {
    display: none;
  }
}

.icon {
  display: block;
  width: rem(28);
  height: rem(14);
  stroke: currentcolor;
}

.pagination {
  position: absolute;
  left: 50%;
  bottom: rem(60);
  z-index: 2;
  display: flex;
  transform: translateX(-50%);

  @include tablet {
    bottom: rem(30);
  }
}

.descr {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: rem(255);

  @include tablet {
    align-items: center;
    max-width: none;
    text-align: center;
  }
}

.subtitle {
  margin-bottom: 1em;
}

.text {
  margin-bottom: 1.5em;
}

.link {
  color: $green;
}