@import "../../../styles/mixins";
@import "../../../styles/vars";

.list {
  display: flex;
  align-items: center;
  gap: rem(45);
}

.link {
  position: relative;
  color: $black;
}

.current-link {
  font-weight: 700;
  color: $green;
  pointer-events: none;
}