@import "../../../styles/mixins";
@import "../../../styles/vars";

.root {
  padding: $section-offset 0;
}

.title {
  margin-bottom: em(90, 40);
}

.list {
  display: flex;
  flex-wrap: wrap;
  margin: 0 rem(-10) rem(-20);
}

.item {
  margin: 0 rem(10) rem(20);
  width: calc(100% / 12 * 3 - 20px);

  @include tablet {
    width: calc(100% / 12 * 6 - 20px);
  }
}

.link {
  display: block;
  margin: rem(60) auto 0;
  height: rem(68);
  max-width: rem(243);
}