@import "../../../styles/mixins";
@import "../../../styles/vars";

.root {
  padding: $section-offset 0;
}

.title {
  margin-bottom: em(90, 40);
}

.list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-bottom: rem(65);
  gap: rem(30);

  @include tablet {
    grid-template-columns: repeat(1, 1fr);
  }
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  border: 1px solid $green;
  width: rem(243);
  height: rem(68);
  color: $green;
  background-color: $white;
  transition: color 0.5s ease, background-color 0.5s ease;

  @include hover {
    color: $white;
    background-color: $green;
  }
}