@import "../../../styles/mixins";
@import "../../../styles/vars";

.root {
  padding: $section-offset 0;
}

.title {
  margin-bottom: em(90, 40);
}

.list {
  display: flex;
  flex-wrap: wrap;
  margin: 0 rem(-10) rem(-20);
}

.item {
  margin: 0 rem(10) rem(20);
  width: calc(100% / 12 * 3 - 20px);

  @include tablet {
    width: calc(100% / 12 * 6 - 20px);
  }
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: rem(65) auto 0;
  border: 1px solid $green;
  width: rem(243);
  height: rem(68);
  color: $green;
  background-color: $white;
  transition: color 0.5s ease, background-color 0.5s ease;

  @include hover {
    color: $white;
    background-color: $green;
  }
}