@import "../../styles/mixins";
@import "../../styles/vars";

.sizes {
  display: flex;
  align-items: center;

  &__field {
    user-select: none;

    &:not(:last-child) {
      margin-right: 1rem;
    }
  }

  &__inner {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid $black;
    width: rem(40);
    height: rem(40);
    text-transform: uppercase;
  }

  &__input {
    position: absolute;
    opacity: 0;
  }

  &__input:checked ~ &__inner {
    color: $white;
    background-color: $black;
    pointer-events: none;
  }
}