@import "../../../../styles/mixins";
@import "../../../../styles/vars";

.root {
  display: flex;
  align-items: center;
}

.field {
  &:not(:last-child) {
    margin-right: 1rem;
  }
}

.input {
  position: absolute;
  opacity: 0;
}

.input:checked ~ .inner {
  border-color: $black;
}

.inner {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid transparent;
  border-radius: 50%;
  width: rem(40);
  height: rem(40);
  transition: border-color 0.5s ease;
  cursor: pointer;
}

.brown {
  background-color: #927876;
}

.yellow {
  background-color: #fdc796;
}

.gray {
  background-color: #d4d4d4;
}

.pink {
  background-color: #fd9696;
}