@import "../../../../styles/mixins";
@import "../../../../styles/vars";

.root {
  display: flex;
  align-items: center;
}

.field {
  &:not(:last-child) {
    margin-right: 1rem;
  }
}

.input {
  position: absolute;
  opacity: 0;
}

.input:checked ~ .inner {
  outline: 2px solid $black;
  outline-offset: 2px;
}

.inner {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid $black;
  border-radius: 50%;
  width: rem(40);
  height: rem(40);
}

.white {
  background-color: $white;
}

.black {
  background-color: $black;
}

.gray {
  background-color: #d4d4d4;
}

.pink {
  background-color: #fd9696;
}