@import "../../styles/mixins";
@import "../../styles/vars";

.advantages {
  padding: $section-offset 0;

  &__title {
    margin-bottom: em(90, 40);
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: rem(30);
  }

  &__icon {
    margin-bottom: rem(40);
    width: rem(60);
    height: rem(60);
  }

  &__name {
    margin-bottom: 1em;
  }
}