@import "mixins";

// values

$content-width: #{rem(1110)};
$container-offset: #{rem(15)};

// fonts
$font-family: "Raleway", sans-serif;

// colors

$black: #000;
$white: #fff;
$green: #6e9c9f;
$beige: #f1eadc;