@import "../../styles/mixins";
@import "../../styles/vars";

@keyframes spin {
  from {
    transform: rotate(0);
  }

  to {
    transform: rotate(360deg);
  }
}

.spinner {
  display: block;
  margin: 0 auto;
  width: 80px;
  height: 80px;

  &::after {
    content: "";
    display: block;
    margin: 8px;
    border: 6px solid #fff;
    border-color: #000 transparent;
    border-radius: 50%;
    width: 64px;
    height: 64px;
    animation: spin 1.2s linear infinite;
  }
}