@import "../../../styles/mixins";
@import "../../../styles/vars";

.root {
  padding-top: rem(140);
  padding-bottom: $section-offset;

  @include tablet {
    padding-top: rem(50);
  }
}

.container {
  display: flex;
  flex-direction: column;

  @include resolution(992) {
    align-items: center;
    text-align: center;
  }
}

.title {
  margin-bottom: em(25, 55);
  font-weight: 500;
  font-size: rem(55);
  line-height: 110%;

  @include tablet {
    font-size: rem(40);
  }
}