@import "../../styles/mixins";
@import "../../styles/vars";

.hero-main {
  &__container {
    display: flex;
    align-items: center;
    padding-left: max($container-offset, calc((100% - 1140px) / 2));
  }

  &__title {
    margin-bottom: em(45, 55);
    max-width: rem(585);
    font-weight: 500;
    font-size: rem(55);
    line-height: 110%;
    letter-spacing: 0.02em;
  }

  &__descr {
    margin-bottom: em(50, 20);
    max-width: rem(385);
    font-size: rem(20);
    line-height: 120%;
    letter-spacing: 0.02em;
    text-align: right;
  }

  &__links {
    display: flex;
    justify-content: flex-end;
    max-width: rem(385);
  }

  &__next-section-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: rem(67);
    height: rem(67);
    stroke: $green;
    background-color: rgba(110 156 159 / 10%);
    transition: stroke 0.5s ease, background-color 0.5s ease;

    @include hover {
      stroke: $white;
      background-color: $green;
    }
  }

  &__shop-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: rem(245);
    height: rem(67);
    color: $white;
    background-color: $green;
    transition: background-color 0.5s ease;

    @include hover {
      background-color: #509498;
    }
  }

  &__images {
    position: relative;
    margin-left: rem(100);
    padding-top: rem(120);
    padding-bottom: rem(60);
    width: 100%;
    height: 100%;
    background-color: $beige;
  }

  &__first-image {
    position: relative;
    left: rem(40);
    display: block;
  }

  &__second-image {
    position: absolute;
    left: rem(370);
    top: rem(240);
    z-index: 2;
    display: block;
  }

  &__third-image {
    position: absolute;
    left: rem(-80);
    bottom: 0;
    z-index: 2;
    display: block;
  }
}

.hero-main-slider {
  padding-top: rem(140);
  width: 100%;
  max-width: rem(560);

  &__pagination {
    display: flex;
    justify-content: flex-end;
    margin-top: rem(120);
    max-width: rem(385);
  }

  &__bullet {
    width: rem(30);
    height: rem(5);
    background-color: #d1d1d1;

    &:not(:last-child) {
      margin-right: rem(12);
    }
  }

  &__bullet--current {
    background-color: $black;
  }
}