@import "../../../../styles/mixins";
@import "../../../../styles/vars";

.root {
  width: 100%;
}

.slide {
  display: flex;
  flex-direction: column;

  @include laptop {
    align-items: center;
  }
}

.title {
  margin-bottom: em(45, 55);
  width: 100%;
  max-width: rem(585);
  font-weight: 500;
  font-size: rem(55);
  line-height: 110%;

  @include laptop {
    text-align: center;
  }

  @include tablet {
    font-size: rem(36);
  }
}

.descr {
  margin-bottom: em(50, 20);
  width: 100%;
  max-width: rem(385);
  font-size: rem(20);
  line-height: 120%;
  text-align: right;

  @include laptop {
    text-align: center;
  }

  @include tablet {
    font-size: rem(16);
  }
}