@import "../../../../styles/mixins";
@import "../../../../styles/vars";

.root {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: rem(90);
  gap: rem(10);
}

.item {
  width: 100%;
  max-width: rem(320);
}

.link {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid $black;
  padding-right: rem(30);
  padding-left: rem(30);
  width: 100%;
  height: rem(60);
}

.current-link {
  color: $white;
  background-color: $black;
}