@import "../../../../styles/mixins";
@import "../../../../styles/vars";

.root {
  display: flex;
  flex-wrap: wrap;
  margin: 0 rem(-10);
  margin-bottom: rem(80);
}

.item {
  margin: 0 rem(10) rem(10);
  width: calc(100% / 12 * 2 - 20px);

  @include laptop {
    width: calc(100% / 12 * 4 - 20px);
  }

  @include mobile {
    width: calc(100% / 12 * 6 - 20px);
  }
}

.link {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid $black;
  width: 100%;
  height: rem(60);
}

.current-link {
  color: $white;
  background-color: $black;
}