@import "../../../../styles/mixins";
@import "../../../../styles/vars";

.root {
  display: grid;
  grid-template-columns: repeat(4, auto);
  gap: rem(45);
}

.link {
  position: relative;
  color: $black;
}

.current-link {
  font-weight: 700;
  color: $green;
  pointer-events: none;
}