@import "../../styles/mixins";
@import "../../styles/vars";

.colors {
  display: flex;
  align-items: center;

  &__field {
    &:not(:last-child) {
      margin-right: 1rem;
    }
  }

  &__inner {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid $black;
    border-radius: 50%;
    width: rem(40);
    height: rem(40);

    &.white {
      background-color: $white;
    }

    &.black {
      background-color: $black;
    }

    &.gray {
      background-color: #d4d4d4;
    }

    &.pink {
      background-color: #fd9696;
    }
  }

  &__input {
    position: absolute;
    opacity: 0;
  }

  &__input:checked ~ &__inner {
    outline: 2px solid $black;
    outline-offset: 2px;
  }
}