@import "../../../styles/mixins";
@import "../../../styles/vars";

.root {
  padding: $section-offset 0;
}

.container {
  display: flex;
  align-items: center;
  gap: rem(70);
}

.img {
  display: block;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: rem(60);
}

.price-wrap {
  display: flex;
  align-items: center;
  font-weight: 500;
  line-height: 110%;
}

.price {
  display: block;
  margin-right: rem(30);
  font-size: rem(50);
  color: #998e78;
}

.price-old {
  font-size: rem(30);
  color: #9c9c9c;
}

.select-title {
  margin-bottom: rem(35);
  font-weight: 500;
  font-size: rem(20);
}

.bottom {
  display: flex;
}

.count {
  appearance: textfield;
  margin-right: 1rem;
  border: 1px solid #afafaf;
  width: rem(68);
  height: rem(68);
  font-size: rem(20);
  text-align: center;
}

.btn {
  width: rem(268);
  height: rem(68);
}