@import "../../../../styles/mixins";
@import "../../../../styles/vars";

.root {
  display: flex;
  flex-wrap: wrap;
  margin: 0 rem(-10) rem(-20);
}

.item {
  margin: 0 rem(10) rem(20);
  width: calc(100% / 12 * 3 - 20px);

  @include tablet {
    width: calc(100% / 12 * 6 - 20px);
  }
}