@import "../../styles/mixins";
@import "../../styles/vars";

.shop-nav {
  display: flex;
  margin-bottom: rem(90);

  &__item {
    width: 100%;

    &:not(:last-child) {
      margin-right: rem(10);
    }
  }

  &__link {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid $black;
    width: 100%;
    height: rem(60);

    &--current {
      color: $white;
      background-color: $black;
    }
  }
}