@import "../../../../styles/mixins";
@import "../../../../styles/vars";

.root {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  @include tablet {
    align-items: center;
  }
}

.subtitle {
  margin-bottom: em(60, 24);
}

.input {
  margin-bottom: rem(35);
  border: none;
  border-bottom: 1px solid $black;
  width: 100%;
  height: rem(40);
  max-width: rem(350);

  &:focus {
    outline: none;
    border-color: $green;
  }
}

.big-input {
  height: rem(134);
  resize: none;
}

.btn {
  height: rem(56);
  max-width: rem(189);
}

.alert {
  display: none;
  margin-top: rem(60);
  padding: rem(30) rem(80);
  background-color: $beige;
}