@import "../../../styles/mixins";
@import "../../../styles/vars";

.root {
  padding: $section-offset 0;
  background-color: $beige;
}

.container {
  display: flex;
  justify-content: space-between;

  @include resolution(992) {
    flex-direction: column;
    align-items: center;
    justify-content: initial;
  }
}

.col {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  &:not(:last-child) {
    @include resolution(992) {
      margin-bottom: rem(70);
    }
  }

  &:last-child {
    align-items: flex-end;

    @include resolution(992) {
      align-items: center;
    }
  }

  @include resolution(992) {
    align-items: center;
  }
}

.copyright {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: rem(70);
  gap: 1rem;

  @include resolution(992) {
    align-items: center;
    margin-top: rem(30);
  }
}

.copyright-item {
  font-size: rem(14);
  line-height: 140%;
}

.nav {
  @include tablet {
    display: none;
  }
}

.categories {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: rem(40);
  margin-left: 7rem;
  gap: 1rem;

  @include resolution(992) {
    align-items: center;
    margin-left: 0;
  }
}

.categories-item {
  font-size: rem(14);
  line-height: 140%;
}

.contacts {
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  @include resolution(992) {
    align-items: center;
  }
}

.contacts-item {
  &:not(:last-child) {
    margin-bottom: 1rem;
  }
}

.socials {
  display: flex;
  margin: rem(30) 0;
}

.socials-item:not(:last-child) {
  margin-right: rem(12);
}

.socials-link {
  display: block;
  transition: fill 0.5s ease;

  svg {
    display: block;
  }

  @include hover {
    fill: $white;
  }
}